
.container-fluid {
  height: 100vh;
  display: flex;
  background-color: #344A71;
}
#wrapper {
  width: 300px;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 20px;
}
.grid-container {
  display: grid;
  grid-template: 50px 50px 50px/ auto auto auto;
  gap: 20px;
}
.name {
  display: block !important;
  margin-bottom: 20px;
}